header {
  text-align: center;
  padding: 10px;
  background-color: peachpuff;
  margin: 5px;
  border-radius: 10px; }

video {
  height: 100%;
  width: 100%; }

body #header #logo {
  padding-top: 5px; }
  body #header #logo img {
    width: 100%; }
body #header .header-link {
  padding-top: 25px; }
body #header #btn-cerrar-sesion {
  display: flex;
  align-items: center; }
  body #header #btn-cerrar-sesion span {
    font-size: 1.3rem;
    margin-left: 5px; }

.CodeMirror {
  display: none; }

.chat-users, .chat-discussion {
  margin-left: 0px;
  height: auto;
  padding: 0px 10px; }
  .chat-users .chat-user-name, .chat-discussion .chat-user-name {
    position: relative; }
    .chat-users .chat-user-name a, .chat-discussion .chat-user-name a {
      text-decoration: underline; }
  .chat-users .chat-message, .chat-discussion .chat-message {
    padding: 4px 10px; }
    .chat-users .chat-message .message, .chat-discussion .chat-message .message {
      margin-left: 0px; }

#panel-main-video .panel-tools {
  display: none; }

#panel-main-video .panel-body {
  height: 73%; }

#panel-participantes .panel-body {
  height: 73%;
  padding: 20px 0px;
  overflow-y: auto; }

#primary-chat .panel-body {
  overflow-y: auto;
  height: 65%; }

#secondary-chat .panel-body {
  overflow-y: auto;
  height: 25%; }

#secondary-chat {
  display: none; }

#btn-eject, #btn-give-control {
  display: none; }

#RXUsers .btn-group {
  margin-left: 10px; }
  #RXUsers .btn-group button {
    padding: 2px;
    margin-right: 2px;
    font-size: 1.5em; }

#icon-toggle-request-control {
  display: none; }

#RXUsers > div:nth-child(1) {
  background-color: #F7F9FA; }

#RXUsers .chat-user {
  border: 1px solid #e7eaec;
  margin-bottom: 10px;
  padding: 0 0 8px 0; }
  #RXUsers .chat-user .labels {
    display: flex;
    margin: 5px; }
    #RXUsers .chat-user .labels span {
      margin-right: 5px; }
  #RXUsers .chat-user .btn-group button {
    min-width: 30px;
    min-height: 30px;
    margin-right: 5px;
    padding: 5px; }
  #RXUsers .chat-user video {
    width: 100%;
    height: auto;
    max-height: 145px; }
  #RXUsers .chat-user.role-palabra {
    background-color: #62cb31; }
    #RXUsers .chat-user.role-palabra a {
      color: white;
      text-decoration: none; }
  #RXUsers .chat-user.role-tutor {
    background-color: #3498db; }
    #RXUsers .chat-user.role-tutor a {
      color: white;
      text-decoration: none; }

@media (max-width: 768px) {
  .small-logo {
    padding-top: 2px;
    text-align: center;
    padding-right: 60px;
    float: none; }
    .small-logo img {
      height: 55px; }

  #panel-main-video #remoteVideo {
    height: auto; }
  #panel-main-video .panel-body {
    height: auto; }
  #panel-main-video .panel-body.mode-editor {
    height: 70%; }

  li.empty-polls {
    padding: 10px;
    text-align: center; }

  #side-menu li .ul-encuestas li a {
    padding: 15px 20px; }

  #side-menu li a i {
    margin-right: 10px; } }
@media (max-width: 480px) {
  .small-logo {
    padding: 0;
    float: left; }
    .small-logo img {
      height: 60px; }

  #panel-main-video .panel-body {
    height: auto; }

  #primary-chat .panel-body {
    height: 30%; } }
.sweet-alert button.cancel {
  background-color: #dd6b55; }

/*# sourceMappingURL=main.css.map */
